.app {
  text-align: center;
}

header {
  width: 100%;
  height: 75px;
  text-align: center;
  background-color: black;
  margin: 0px 0px 10px 0px;
}
#diagram {
  text-align: center;
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100%;
}
.title {
  font-size: 3em;
  color: white;
  margin: 0px;
}
.vocab-words-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}
.drop-area {
  width: 150px;
  height: 50px;
  position: absolute;
  border: 1px dotted black;
}
.drop-area-1 {
  top: 40%;
  left: 12%;
}
.drop-area-2 {
  top: 50%;
  left: 27%;
}
.drop-area-3 {
  bottom: 15%;
  left: 28%;
}
.drop-area-4 {
  top: 38%;
  left: 39%;
}
.drop-area-5 {
  top: 22%;
  left: 46%;
}
.drop-area-6 {
  top: 47%;
  right: 45%;
}
.drop-area-7 {
  bottom: 15%;
  right: 31.2%;
}
.drop-area-8 {
  top: 49%;
  right: 29%;
}
.drop-area-9 {
  top: 45%;
  right: 12%;
}
